<div class="bg-wrapper d-flex h-100">
  <div class="container">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-7 col-sm-12 offset-md-1">
        <div class="center-box shadow-sm" id="board">
          <div class="container p-5 h-100 justify-content-center">
            <div class="row h-100">
              <div class="col d-flex justify-content-center">
                <div class="black-box w-100 h-100">
                  <div class="row no-gutters">
                    <div class="col">
                      <div class="white-space a1 mr-1 d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                      <div class="white-space b1 mr-1 d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                      <div class="white-space c1 d-flex justify-content-center"></div>
                    </div>
                  </div>
                  <div class="row no-gutters mt-1">
                    <div class="col">
                      <div class="white-space a2 mr-1 d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                      <div class="white-space b2 mr-1 d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                      <div class="white-space c2 mr d-flex justify-content-center"></div>
                    </div>
                  </div>
                  <div class="row no-gutters mt-1">
                    <div class="col">
                      <div class="white-space a3 mr-1 d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                      <div class="white-space b3 mr-1 d-flex justify-content-center"></div>
                    </div>
                    <div class="col">
                      <div class="white-space c3 d-flex justify-content-center"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12 ml-md-3">
          <button type="button" class="btn btn-light btn-circle restart shadow-sm"><i class="fas fa-redo"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
