@font-face {
   font-family: 'Quicksand-Light';
   src: url('/assets/Quicksand-Light.ttf');
}

$white: #FFFFFF;
$black: #000000;
$grey: #dedede;
$bg-grey: #F1F3F9;
$transparent-grey: #fafbff;
$blue: #007fb5;
$red: #f26868;

.bg-wrapper {
  background: $bg-grey;
}

.btn-circle {
  width: 70px;
    height: 70px;
    padding: 20px 20px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    color: $grey;
}

.center-box {
  background: #FFFFFF;
  height: 600px;
  border-radius: 30px;

  .black-box {
    background: $bg-grey;
    border-radius: 3vh;
  }

  .x:before {
    content: 'X';
    font-size: 110px;
    color: $blue;
    font-family: 'Quicksand-Light';
  }

  .o:before {
    content: 'O';
    font-size: 110px;
    color: $red;
    font-family: 'Quicksand-Light';
  }

  .white-space {
    background: $white;
    height: 166px;
  }

  .b1:hover,
  .b2:hover,
  .b3:hover,
  .a2:hover,
  .c2:hover {
    background: $transparent-grey;
    cursor: pointer;
  }

  .a1:hover {
    border-radius: 15px 0 0 0;
    background: $transparent-grey;
    cursor: pointer;
  }

  .c1:hover {
    border-radius: 0 15px 0 0;
    background: $transparent-grey;
    cursor: pointer;
  }

  .a3:hover {
    border-radius: 0 0 0 15px;
    background: $transparent-grey;
    cursor: pointer;
  }

  .c3:hover {
    border-radius: 0 0 15px 0;
    background: $transparent-grey;
    cursor: pointer;
  }

  .b1:active,
  .b2:active,
  .b3:active,
  .a2:active,
  .c2:active {
    background: $bg-grey;
    cursor: pointer;
  }

  .a1:active {
    border-radius: 15px 0 0 0;
    background: $bg-grey;
    cursor: pointer;
  }

  .c1:active {
    border-radius: 0 15px 0 0;
    background: $bg-grey;
    cursor: pointer;
  }

  .a3:active {
    border-radius: 0 0 0 15px;
    background: $bg-grey;
    cursor: pointer;
  }

  .c3:active {
    border-radius: 0 0 15px 0;
    background: $bg-grey;
    cursor: pointer;
  }

}
